body
{
background: #96EEFC;

font-size: 12px;

}
div
{
	    display: block;
}
.CONTENEDOR
{
	max-width: 1200px;
    margin: 0 auto;
}

#container h1{
	font-size: 35px;
	display: inline-block;

}
.href{
	display: inline-block;
	background: #239baa;
	color: #FFF;
	padding: 5px 25px;
	border-radius: 4px;
	margin: 2px;
}
table{
	border-collapse: collapse;
	font-size: 12px;
	font-family: 'arial';
	width: 100%;
	border: black 1px solid;
}
table th{
	text-align: left;
	padding: 10px;
	background: #3d7ba8;
	color: #FFF;
	border: black 1px solid;
}
table td{
	padding: 10px;
	border: black 1px solid;
}